body {
  background-color: rosybrown;
}

#btn {
  height: 100px;
  width: 200px;
  border-radius: 25%;
  display: block;
  margin: auto;
  background-color: purple;
}

.btn {
  height: 50%;
  width: auto;
  margin: 200px;
}
